/* src/App.css */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
}


.question-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 400px;
  margin: 20px;
}

.question-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.options-container {
  display: flex;
  flex-direction: column; /* Ensure options are stacked vertically */
}

.options-container button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px; /* Add margin between options */
}

.options-container button.selected {
  background-color: #f0f0f0;
  border: 1px solid #999; /* Add border to highlight the selected option */
}

.options-container button.correct {
  background-color: #4CAF50;
  color: #fff;
}

.options-container button.incorrect {
  background-color: #FF5252;
  color: #fff;
}

.options-container button:hover {
  background-color: #aeaaaa;
}

.feedback {
  margin-top: 10px;
  font-weight: bold;
}

.feedback.correct {
  color: #4CAF50;
}

.feedback.incorrect {
  color: #FF5252;
}

.result-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 400px;
  margin: 20px;
}

.result-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.result-container button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-container button:hover {
  background-color: #1565C0;
}
